

<div class="genki-about">
  <h1>{{ page.title }}</h1>
</div>



{% schema %}
  {
    "name": "Genki About",
    "settings": [
      {
        "type": "text",
        "id": "about1title",
        "label": "stoggles about"
      }
    ],
    "presets": [
      {
        "name": "Genki About",
        "category": "Image"
      }
    ]
  }
{% endschema %}
